version: "3.9"

services:
  mcp3:
    build: ./mcp_servers/server_a
    container_name: server_a
    ports:
      - "8001:8001"
    volumes:
      - ./storage:/app/storage
    env_file: 
      - ./mcp_servers/server_a/.env

  mcp4:
    build: ./mcp_servers/server_b
    container_name: server_b
    ports:
      - "8002:8002"
    volumes:
      - ./storage:/app/storage

  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    restart: unless-stopped
    command: >
      sh -c "
        ollama pull deepseek-r1:1.5b &&
        ollama serve
      "

  open-webui:
    image: ghcr.io/open-webui/open-webui:ollama
    container_name: open-webui
    ports:
      - "3000:8080"
    environment:
      OLLAMA_BASE_URL: http://ollama:11434
    depends_on:
      - ollama
    volumes:
      - open-webui:/app/backend/data
    restart: unless-stopped

volumes:
  ollama:
  open-webui:
